/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL  */
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --color-white: white;
    --color-blue: blue;
    --color-black: black;
    --background-color: rgb(177, 207, 229);
    --background-color-btn: rgb(0, 95, 251);
}


/* UTILIS  */

.d-flex{
    display: flex;
}

.flex-warp{
    flex-wrap: wrap;
}

.justify-content{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.btn{
    padding: 10px 13px;
    border: 0;
}

.debug {
    border: 2px solid red; /* Aggiunge un bordo rosso */
    outline: 2px solid blue; /* Aggiunge un contorno blu */
    background-color: rgba(255, 0, 0, 0.3); /* Aggiunge uno sfondo rosso semitrasparente */
    box-shadow: 0 0 5px red; /* Aggiunge un'ombra rossa */
}


/* HEADER  */
header nav ul li{
    list-style: none;
    line-height: 65px;
    flex-shrink: 0;
}

.h-top{
    height: 65px;
    z-index: 10;
}

.h-top ul{
    justify-content: space-around;
    flex-basis: calc(100vw / 3.5);
}

#logo{
    line-height: 0;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

#logo:hover, #nav-btn{
    border: 10px;
}

#nav-btn{
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
    
}