/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL  */
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --color-white: white;
    --color-blue: blue;
    --color-black: black;
    --background-color: rgb(177, 207, 229);
    --background-color-btn: rgb(0, 95, 251);
}


/* UTILIS  */

.d-flex{
    display: flex;
}

.flex-warp{
    flex-wrap: wrap;
}

.justify-content{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.debug {
    border: 2px solid red; /* Aggiunge un bordo rosso */
    outline: 2px solid blue; /* Aggiunge un contorno blu */
    background-color: rgba(255, 0, 0, 0.3); /* Aggiunge uno sfondo rosso semitrasparente */
    box-shadow: 0 0 5px red; /* Aggiunge un'ombra rossa */
}


/* HEADER  */
header nav ul li{
    list-style: none;
    border-bottom: 1px solid white;
    line-height: 65px;
    flex-shrink: 0;
}
#logo{
    line-height: 0;
}

a{
    text-decoration: none;
}