/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* GENERAL  */
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --color-white: white;
    --color-blue: blue;
    --color-black: black;
    --background-color: rgb(177, 207, 229);
    --background-color-btn: rgb(0, 95, 251);
}

a{
    text-decoration: none;
    color: var(--color-black);
}

li{
    list-style-type: none;
}

h3{
    padding: 20px 0px;
    font-weight: bold;
}




/* UTILIS  */
.d-flex{
    display: flex;
}

.flex-warp{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-30{
    width: 30%;
}

.m-auto{
    margin: auto;
}

.m-top-60{
    margin-top: 60px;
}

.m-top-30{
    margin-top: 30px;
}

.pad-top-bottom-15{
    padding: 15px 0;
}

.inline-block{
    display: inline-block;
}

.text-indent-13{
    text-indent: -13px;
}

.text-indent-10{
    text-indent: -10px;
}



/* HEADER  */
header nav ul li{
    line-height: 65px;
    flex-shrink: 0;
}

.h-top{
    position: fixed;
    height: 65px;
    z-index: 10;
    background-color: var(--color-white);
}

.h-top ul{
    justify-content: space-around;
    flex-basis: calc(100vw / 3.5);
    list-style-type: none;
}

.h-top ul li:hover{
    border-bottom: 2px soli black;
}

.jumbotron{
    background-color: #b4d0e7;
}

.h-bottom{
    padding-top: 65px;
}

.h-bottom h1{
    padding-top: 50px;
    font-size: 65px;
    width: 90%;
}

.fa-arrow-down{
    margin-top: 35%;
    color: var(--color-black);
}

.jumbo{
    position: relative;
    bottom: -70px;
}

.h-top ul li:hover{
    border-bottom: 2px solid black;
}



/* MAIN  */
/* PRIMA SEZIONE  */
.head-section > h2{
    margin: 14px 0 30px;
}

.head-section > div, span:not(p){
    display: inline-block;
}

.head-section div, span{
    vertical-align: middle;
}

.fatturazione{
    padding: 25px;
}

.fatturazione:hover{
    text-decoration: underline;
}



.user-fa{
    text-align: center;
    border: 1px solid black;
}

.user-fa i{
    padding: 0px 6px;
}



.t-price > div{
    width: calc(90% / 3);
    height: 160vh;
    border: 1px solid black;
    overflow-y: auto;
}

.t-price > div hr{
    border: 0.5px solid lightgrey;
    width: 20%;
    margin: 50px 35px 50px;
}

.t-price{
    align-items: flex-start;
    padding: 10px;
}





.acquista-ora{
    color: blue;
    text-decoration:underline;
    display: inline-block;
}

.fa-check{
    color: var(--background-color-btn);
}



.team2{
    padding-top: 45px;
}

.team2 > div{
    border: 1px solid black;
}


/* BOTTONI  */
.btn{
    background-color: var(--background-color-btn);
    color: var(--color-white);
    cursor: pointer;
    padding: 10px 15px;
    border: 0;
}

#jumbo-btn{
    margin: 30px 0;
    display: inline-block;
}

#uncheck-btn, #check-btn{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#check-btn{
    border: 5px solid var(--background-color-btn);
}

#uncheck-btn{
    border: 2px solid lightgray;
}

.btn-price{
    margin: 30px 0px;
}